


header {
    background-image: url(img/fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90px;
    background-color: #333333;
    color: #000000;
    padding: 10px;
  }
body {
    background-color: #f4915f;

}
  h1 {
    margin: 0;
  }
    
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
    
  }
  
  nav a {
    color: #000000;
    text-decoration: none;
    
  }
  
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    margin-top: 40px;
  }
  
  p {
    line-height: 1.5;
  }
  
  ul {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  figure {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  figcaption {
    font-style: italic;
  }
  
  /* Estilo para o rodapé */
  footer {
    background-color: #d86b35;
    padding: 10px;
    text-align: center;
    
  }
  
  